.no__highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text__stroke {
  -webkit-text-stroke: 1px #080707;
  /* -webkit-text-stroke: 1px #f5f5f5; */
  color: #f0f8ff00;
}

.invisible_scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.invisible_scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.text_shadow {
  text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.5);
}

.input_shadow {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.full_shadow_black_invert {
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.25),
    /* Top */ inset 0 -10px 10px rgba(0, 0, 0, 0.25),
    /* Bottom */ inset 10px 0 10px rgba(0, 0, 0, 0.25),
    /* Left */ inset -10px 0 10px rgba(0, 0, 0, 0.25); /* Right */
}
