/* @font-face {
  font-family: 'CorinthiaBold';
  src: url('../assets/fonts/Corinthia-Bold.ttf') format('truetype');
} */

/* @font-face {
  font-family: '';
  src: url('../assets/fonts/.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */